<h1>UberWear | Admin</h1>
<ul class="nav nav-tabs">
  <li role="presentation"><a href="/admin/">Admin Home</a></li>
  <li role="presentation"><a href="/admin/addSku">Add Skus</a></li>
  <li role="presentation"><a href="/admin/listSkus">List Skus</a></li>
  <li role="presentation"><a href="/admin/list_users">List Users</a></li>
</ul>