<!doctype html>
<html>
  <% include ../layouts/head %>
  <body>
    <div class="container">
      <% include ./common/admin_header %>
    </div>
    <div class="container">
      <div class="col-sm-12">
        <h3>
          Admin Portal
        </h3>
      </div>
      <p>Add some more content here</p>
    </div>
  </body>
</html>