<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <% include ../layouts/head %>
  </head>
  <body ng-app="uberWear" ng-controller="CartCtrl">

      <% include ../layouts/top_bar %>
      <div class="container">

        <h1>Shopping Cart</h1>
        <p>Congruatations!  Your have successfully placed the order</p>
      </div>

    <% include ../layouts/include_js %>
  </body>
</html>